         .separator{
         border-right: 1px solid #666666;
         padding-right: 15px;
         }
         .dd-menu > li{
         margin-left: 10px !important;
         line-height: 10px;
         margin-top:30px;
         }
         #menu2 li a{
             font-size:14.5px !important;
         }
         #menu2{
             margin-left:20px;
         }
         #menu1 li a{
             color:#666666;
         }
         .logoAdmin {
        width: 90% !important;
        margin-top: 0px;
        padding: 0px 10px;
    }
@media(min-width: 1740px){
             #menu1, #menu2{
                 /*margin-top:20px;*/
             }
         }
         .dd-menu > li > a {
         display: block;
         /*color: #666666 !important;*/
         line-height: 17px;
         text-transform: uppercase;
         letter-spacing: 1px;
         }
         .menurojo a{
         display: block;
         color: #000000 !important;
         line-height: 50px;
         text-transform: uppercase;
         letter-spacing: 0px !important;
         font-size: 18px;
         }
         .active a{
         display: block;
         color: #FF0000 !important;
         border-bottom: 2px solid #FF0000;
         line-height: 50px;
         text-transform: uppercase;
         letter-spacing: 0px !important;
         font-size: 16px;
         }
         .navbar-nav .active a{
         display: block;
         color: #FF0000 !important;
         border-bottom: none;
         line-height: auto;
         letter-spacing: 0px !important;
         text-transform:none;
         font-size: 16px;
         }
         @media (min-width: 992px){
         .header-der{
         background-color:#DDDDDD;
         }
         }
         @media (max-width: 991px){
         .header-der{
         background-color:#FFF;
         }
    }
@media (min-width: 992px) and (max-width: 1200px){
         .separator{
         padding-right: 10px;
         }
         .separator a{
         font-size: 10px !important;
         }
         .site-header .container .con-left{
         width: 75% !important;
         }
         .site-header .container .con-right{
         width: 25% !important;
         }
         }
         .rect{
         height: 115px;
         }
         .backdiagonal{
         background: linear-gradient(to right bottom, #FFFFFF 50%, #DDDDDD 50%); 
         }
         .site-header .container-fluid{
         padding-right: 0px;
         }
         .header-der input{
         height: 20px;
         font-size: 15px;
         width: 76%;
         }
         .txt065header{
         font-size: 26px;
         color: #FF0000;
         margin-right: 5px;
         text-align: right;
         padding-top:10px;
         }
          .txt065header2{
            font-size: 47px;
            color: #FF0000;
            margin-right: 11px;
            /* text-align: center; */
            padding-top: 15px;
         }
          .txttelheader{
         font-size: 18px;
         color: #666666;
         line-height: 18px;
         margin-top: 6px;
         border-left: 1px solid #999999;
         padding-left: 5px;
         }
         .txttelheader2{
         font-size: 18px;
         color: #666666;
         line-height: 18px;
         padding-left: 5px;
         }
        .txturgenciasheader{
         font-size: 18px;
         color: #FF0000;  
         }
         .segtwheader{
         color: #00ABB7;
         background-color: #FFFFFF;
         font-size: 12px;
         margin-bottom: 10px;
         line-height: 28px;
         }
         .header-info-col {
         margin-left: 10px !important;
         }
         .tipoaccesoheader{
         line-height:10px;
         }
          .tipoaccesoheader a {
                color: #666666;
            }
          .tipoaccesoheader a:link {
                color: #666666;
            }

           .tipoaccesoheader a:visited {
                color: #666666;
            }

           .tipoaccesoheader a:hover {
                color: #FF0000;
            }

           .tipoaccesoheader a:active {
                color: #666666;
}
         .button-menu1{
         background-color: #1f1f1f;
         color: #FFF;
         margin: 10px 20px;
         border: none;
         font-size: 12px;
         padding:5px 10px;
         }
         .button-menu1:hover, .button-menu1:focus{
         background-color: #333;
         color: #FFF;
         }
         .texto-menu1{
         color: #FFF;
         font-size: 14px;
         text-shadow:1px 1px 1px #333;
         }
         .btn-mg-menu1{
         padding: 15px;
         height: 100px;
         }
         .txtbtnrojo{
         font-size: 8px;
         color: #FFF;
         }
         .btn-donar-sangre{
         background: url('/Static_Content/images/ayudar_mm.png');
         background-size:cover;
         border:none;
         color: #FFF;
         text-shadow:1px 1px 2px #333;
         padding: 5px 10px;
         margin-top: 10px;
         height: 80px;
         text-align: center;
         padding-top: 25px;
         }
         .header-info-col{
         margin-top: -135px !important;
         }

@media (min-width: 1280px) {
    .separator2{
	    padding-right: 9px;
    }
    .tipoaccesoheader{
         font-size: 11px;
    }
    .logo {
        width: 200px !important;
        margin-top: 0px;
        padding: 0px 10px;
    }
}
@media (min-width: 1280px) and (max-width: 1361px){
    .separator2{
        padding-right: 7px;
        font-size: 10px;
    }
    .dd-menu > li {
     font-size: 11.5px;   
    }
}
@media (min-width: 1220px) and (max-width: 1279px){
    .separator2{
	    padding-right: 7px;
        font-size: 10.5px;
    }
    .dd-menu > li {
     font-size: 10.5px;   
    }
    .tipoaccesoheader{
         font-size: 10px;
    }
    .maxheight-header{
        max-height:115px;
    }
    .logo {
        width: 180px !important;
        margin-top: 0px;
        padding: 0px 10px;
    }
}

@media (min-width: 920px) and (max-width: 1219px){
    .separator2{
	    padding-right: 6px;
        font-size:8px !important;
    }
    .tipoaccesoheader{
         font-size: 10px;
    }
    .maxheight-header{
        max-height:125px;
    }
    .logo {
        width: 150px !important;
        margin-top: 0px;
        padding: 0px 10px;
    }
}

@media (min-width: 721px) and (max-width: 992px){
     .LogoMovil{
         width:150px;
         margin-bottom :-20px;
     }
     .headeredes{
         margin-top:144px;
         margin-left:30px;
     }

     .home .hero-area {
        padding-top: 120px !important;
        min-height: 150px !important;
    }
}

@media (max-width: 720px){
     .LogoMovil{
         width:150px;
         margin-bottom :-20px;
     }

     .maxheight-header{
        max-height:125px;
    }
     .home .hero-area {
        padding-top: 50px !important;
        min-height: 150px !important;
    }

}